.flex {
  display: flex;
}
.flex-row {
  flex-flow: row wrap;
}
.flex-col {
  flex-flow: column wrap;
}
.flex-align-center {
  justify-content: center;
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}

.div1 { 
  width:50px;
  height:50px;
}
.div2 { 
  width:50px;
  height:50px;
}
.div3 { 
  width:50px;
  height:50px;
}
.div4 { 
  width:50px;
  height:50px;
}
.div5 { 
  width:50px;
  height:50px;
}
.div6 { 
  width:50px;
  height:50px;
}