## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "10 minutes"
ExpiresByType image/jpeg "10 minutes"
ExpiresByType image/gif "10 minutes"
ExpiresByType image/png "10 minutes"
ExpiresByType text/css "10 minutes"
ExpiresByType application/pdf "10 minutes"
ExpiresByType text/x-javascript "10 minutes"
ExpiresByType application/x-shockwave-flash "10 minutes"
ExpiresByType image/x-icon "10 minutes"
ExpiresDefault "10 minutes"
</IfModule>
## EXPIRES CACHING ##
