.banner-image{
	background:	linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),
				url('assets/images/banner-girl.png') center top no-repeat, 
				url('assets/images/flower-bkgd.jpg') center;
	background-size: cover, 10% auto, auto 100%;

}





.flex {
	display: flex;
}
.flex-sm-col {
	flex-flow:column wrap;
}
.align-center-elements {
	justify-content: center;
	align-items: center;
	position: relative;
}