@font-face {
	font-family: 'PlayfairDisplay';
	src: url('assets/fonts/PlayfairDisplay-Regular.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('assets/fonts/PlayfairDisplay-Italic.otf'); 
	font-weight: 600;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('assets/fonts/PlayfairDisplay-Bold.otf');
	font-weight: 700;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('assets/fonts/PlayfairDisplay-BoldItalic.otf'); 
	font-weight: 800;
}
@font-face {
	font-family: 'Raleway';
	src: url('assets/fonts/Raleway-Light.ttf'); 
	font-weight: 100;
}
@font-face {
	font-family: 'Raleway';
	src: url('assets/fonts/Raleway-LightItalic.ttf'); 
	font-weight: 200;
}
@font-face {
	font-family: 'Raleway';
	src: url('assets/fonts/Raleway-Medium.ttf'); 
	font-weight: 500;
}
@font-face {
	font-family: 'Raleway';
	src: url('assets/fonts/Raleway-MediumItalic.ttf'); 
	font-weight: 600;
}
p {
	font-family: raleway;
	font-size: 14px;
	color: #2d2d2d;
	line-height: 28px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: playfairdisplay;
	color: #2d2d2d;
}
h1 {
	font-size: 30px;
	margin: 10px;
}
h2 {
	font-size: 28px;
	margin: 8px;
}
h3 {
	font-size: 20px;
}
h5 {
	letter-spacing: 1px;
	margin: 5px;
}
a:hover, h3:hover, i:hover{
	text-decoration: none;
	color: #b64036;
}
a:link, h3:link, i:link{
	text-decoration: none;
}
.font-light {
	font-weight: 100;
}
.font-lightitalic {
	font-weight: 200;
}
.font-regular {
	font-weight: 500;
}
.font-italic {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.font-bolditalic {
	font-weight: 800;
}
.font-line-10 {
	line-height: 5px;
}
.font-text-center {
	text-align: center;
}
.font-color-white {
	color: white;
}
.font-color-brand-orange {
	color: #e2574c;
}
.font-color-light-grey {
	color: #969696;
}
.font-shadow {
    text-shadow: 2px 3px rgba(0,0,0,0.1);
}
.bg-dark-grey {
	background-color: #242424;
}
.bg-light-grey {
	background-color: #d7d7d7;
}
.height1 {
	height: 1px;
}
.height10 {
	height: 10px;
}
.height250 {
	height: 250px;
}
.height300 {
	height: 300px;
}
.width-full {
	width: 100%;
}
.logo-size {
	height: 40px;
}
.margin-0 {
	margin: 0px;
}
.margin-ver5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.margin-ver8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.margin-ver10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-ver15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.margin-ver20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-ver30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.margin-hor5 {
	margin-left: 5px;
	margin-right: 5px;
}
.margin-hor10 {
	margin-left: 10px;
	margin-right: 10px;
}
.margin-hor20 {
	margin-left: 20px;
	margin-right: 20px;
}
.padding-ver35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.padding-ver50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.flex {
	display: flex;
}
.flex-row {
	flex-flow: row wrap;
}
.flex-col {
	flex-flow: column wrap;
}
.flex-align-center {
	justify-content: center;
	align-items: center;
}
.flex-space-between {
	justify-content: space-between;
}
.flex-space-around {
	justify-content: space-around;
}
.image-hero-banner-height {
	height: 325px;
}
.hide {
	display: none;
}
.image-hero-banner {
	background:	linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),
				url('assets/images/banner-girl.png') center top no-repeat, 
				url('assets/images/flower-bkgd.jpg') center top;
	background-size: cover, auto 105%, auto 100%;
}
.image-signup-banner { 
	background: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),
				url('assets/images/wave-bkgd.jpg') center bottom;
	background-size: auto 255%;
}
#subscribe-box {
	background-color: white;
    border-radius: 50px;
    padding: 2px 4px; 
    width: 85%;
    min-width: 300px;
    max-width: 400px;
    height: 40px; 
}
#subscribe-button {
	background-color: #e2574c;
    border-radius: 40px;
    width: 110px;
    height: 35px; 
}


@media screen and (min-width: 600px) and (max-width: 1239px){
p {
	font-size: 16px;
	line-height: 32px;
}
h1 {
	font-size: 40px;
	margin: 5px;
}
h2 {
	font-size: 28px;
	margin: 8px;
}
h3 {
	font-size: 20px;
}
h5 {
	font-size: 16px
	letter-spacing: 1px;
	margin: 5px;
}
.md-flex-row {
	flex-flow: row wrap;
}
.md-flex-col {
	flex-flow: column wrap;
}
.md-flex-align-left {
	justify-content: center;
	align-items: flex-start;
}
.md-flex-align-right {
	justify-content: center;
	align-items: flex-end;
}
.md-flex-space-between {
	justify-content: space-between;
}
.md-flex-width-container {
	flex-basis: 50%;
}
.md-text-box-width-max560 {
	max-width: 560px;
}
.md-text-box-width-max600 {
	max-width: 600px;
}
.md-text-align-left {
	text-align: left;
}
.md-text-align-right {
	text-align: right;
}
.md-unhide {
	display: inline;
}
}
@media screen and (min-width: 1240px){
p {
	font-size: 16px;
	line-height: 32px;
}
h1 {
	font-size: 50px;
	margin: 0px;
}
h2 {
	font-size: 30px;
	margin: 8px;
}
h3 {
	font-size: 20px;
}
h5 {
	font-size: 16px
	letter-spacing: 1px;
	margin: 5px;
}
.md-flex-row {
	flex-flow: row wrap;
}
.md-flex-col {
	flex-flow: column wrap;
}
.md-flex-align-left {
	justify-content: center;
	align-items: flex-start;
}
.md-flex-align-right {
	justify-content: center;
	align-items: flex-end;
}
.md-flex-space-between {
	justify-content: space-between;
}
.md-flex-width-container {
	flex-basis: 25%;
}
.md-text-box-width-max560 {
	max-width: 560px;
}
.md-text-box-width-max600 {
	max-width: 600px;
}
.md-text-align-left {
	text-align: left;
}
.md-text-align-right {
	text-align: right;
}
.md-unhide {
	display: inline;
}
.image-hero-banner {
	background:	linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),
				url('assets/images/banner-girl.png') center top no-repeat, 
				url('assets/images/flower-bkgd.jpg') center top;
	background-size: cover, auto 123%, auto 100%;
}
}


/*For the Project 1, you will first create a homepage for your client "The Aloha Apparel Co.". The first part of this project will focus on building out the HTML and CSS components of this responsive website.
Colours:
The HEX code for the link hover state colour is #b64036 

         
Web Developer
        
Screen Sizes:
The width of the desktop-friendly content area is 1240px If undertaking the responsive stretch goal, the width of the tablet-friendly content area is 600px
Requirements
To receive a “Pass” grade for this project, your submission will need to satisfy the following criteria:
General requirements:
Your project must:
Contain a single .html file and an external .css file (a CSS reset may be included separately)
Adequately reflect the designer’s vision for the website Demonstrate effective organization of the project’s root directory
Have a Git repository initialized in its root directory
with an appropriately customized .gitignore file
Be pushed to GitHub (with all of your commits synced to it)
Contain a README.md file describing the project (e.g. technologies used, personal learnings, etc.)
HTML requirements:
Your project must:
Use the HTML5 doctype and semantic HTML5 mark-up Include all essential elements covered in class (e.g.
<meta charset="utf-8"> )
Make appropriate use of paragraph, heading, and list elements
CSS requirements:
Your project must:
                   
Make appropriate use of classes and IDs as selectors Use a CSS reset
Use the background property where appropriate Use the float property effectively

Stretch goals:
Want to challenge yourself? Your project could also:
Be responsively designed using a mobile-first approach Be optimized for 3 screen sizes: mobile and min-width: 600px and min-width: 1240px
Submission Instructions
When you’re ready to submit your project, please email a link to your GitHub repository containing your project to cody.collicott@redacademy.com and cc: edward.apostol @redacademy.com.
